<div class="mdl-grid mdl-shadow--4dp form-item">

    <div class="mdl-cell--1-col form-icon"> <i class="material-icons">title</i></div>
    <div class="mdl-cell--11-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label {% if form.projectName.errors %} is-invalid {% endif %}">
            {{ form.projectName }}
            <label class="mdl-textfield__label" for="projectName">Project Name</label>
            <span class="mdl-textfield__error"> {{form.errors.projectName}} </span>
        </div>
    </div>

</div>

<div class="mdl-grid mdl-shadow--4dp form-item">

    <div class="mdl-cell--1-col form-icon"> <i class="material-icons">label</i></div>
    <div class="mdl-cell--11-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label {% if form.projectTagLine.errors %} is-invalid {% endif %}">
            {{ form.projectTagLine }}
            <label class="mdl-textfield__label" for="projectTagLines">Project Tag Line</label>
            <span class="mdl-textfield__error"> {{form.errors.projectTagLine}} </span>
        </div>
    </div>
</div>


<div class="mdl-grid mdl-shadow--4dp form-item">

    <div class="mdl-cell--1-col form-icon"> <i class="material-icons">description</i></div>
    <div class="mdl-cell--11-col">
        <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label {% if form.projectDescription.errors %} is-invalid {% endif %}">
            {{ form.projectDescription }}
            <label class="mdl-textfield__label" for="projectDescription">Project Description</label>
            <span class="mdl-textfield__error"> {{form.errors.projectDescription}} </span>
        </div>
    </div>
</div>


<div class="mdl-grid mdl-shadow--4dp form-item">
<div class="mdl-cell--1-col form-icon"> <i class="material-icons">stars</i></div>
    <div class="mdl-cell mdl-cell--5-col">
        <h4>Majors Required:</h4>


        {% for major in form.projectMajor %}
        <div class="row">

            <label class="mdl-checkbox mdl-js-checkbox" for="{{major.id_for_label}}">
        <input type="checkbox" value="{{forloop.counter0|add:"1"}}" name="projectMajor" id="{{major.id_for_label}}" class="mdl-checkbox__input" 
        {% if forloop.counter0|add:"1" in form.projectMajor.value %} checked {% endif %}/>
        <span class="mdl-checkbox__label">{{ major.choice_label }}</span>
    </label>
        </div>
        {% endfor %}
    </div>

    <div class="mdl-cell mdl-cell--6-col float-right">
        <h4>Skills Required:</h4>

        {% for skill in form.projectSkills %}
        <div class="row">
            <label class="mdl-checkbox mdl-js-checkbox" for="{{skill.id_for_label}}">
        <input type="checkbox" value="{{forloop.counter0|add:"1"}}" name="projectSkills" id="{{skill.id_for_label}}" class="mdl-checkbox__input" 
        {% if forloop.counter0|add:"1" in form.projectSkills.value %} checked {% endif %}/>
        <span class="mdl-checkbox__label">{{ skill.choice_label }}</span>
    </label>
        </div>
        {% endfor %}
    </div>

</div>
<div class="mdl-grid mdl-shadow--4dp form-item">
    <div class="mdl-cell--1-col form-icon"> <i class="material-icons">date_range</i></div>
    <div class="mdl-cell--5-col">
        <h4>Start Date:</h4>


        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
            <input name="projectBeginDate_month" class="mdl-textfield__input" value="{{ form.projectBeginDate.value|date:"n"|default_if_none:"1 " }}" type="text" id="month" readonly tabIndex="-1" />
            <label class="mdl-textfield__label" for="month">Month</label>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="month" }>
                <li class="mdl-menu__item active"></li>
                {% for i in "xxxxxxxxxxxx" %}
                <li class="mdl-menu__item active">{{ forloop.counter0|add:"1"}}</li>
                {% endfor %}
            </ul>
        </div>


        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
            <input name="projectBeginDate_day" class="mdl-textfield__input" value="{{ form.projectBeginDate.value|date:"j"|default_if_none:"1 " }}" type="text" id="day" readonly tabIndex="-1" />
            <label class="mdl-textfield__label" for="day">Day</label>
            
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="day" style="overflow-y:scroll; height:200px;">
                <li class="mdl-menu__item active"></li> 
                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" %}
<li class="mdl-menu__item active">{{ forloop.counter0|add:"1"}}</li>
{% endfor %}
</ul>
</div>


<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
    <input name="projectBeginDate_year" class="mdl-textfield__input" value="{{ form.projectBeginDate.value|date:"Y"|default_if_none:"2017 " }}" type="text" id="year" readonly tabIndex="-1" />
    <label class="mdl-textfield__label" for="year">Year</label>
    
    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="year" style="overflow-y:scroll; height:200px;"> 
        <li class="mdl-menu__item active"></li>
    {% for i in "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" %}
<li class="mdl-menu__item active">{{ forloop.counter0|add:"2017"}}</li>
{% endfor %}
</ul>
</div>



</div>

<div class="mdl-cell--6-col">
    <h4>End Date:</h4>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
        <input name="projectEndDate_month" class="mdl-textfield__input" value="{{ form.projectEndDate.value|date:"n"|default_if_none:"1 " }}" type="text" id="EndMonth" readonly tabIndex="-1" />
        <label class="mdl-textfield__label" for="EndMonth">Month</label>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="EndMonth">
            <li class="mdl-menu__item active"></li>
            {% for i in "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" %}
            <li class="mdl-menu__item active">{{ forloop.counter0|add:"1"}}</li>
            {% endfor %}
        </ul>
    </div>


    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
        <input name="projectEndDate_day" class="mdl-textfield__input" value="{{ form.projectBeginDate.value|date:"j"|default_if_none:"1 " }}" type="text" id="EndDay" readonly tabIndex="-1" />
        <label class="mdl-textfield__label" for="EndDay">Day</label>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="EndDay" style="">
            <li class="mdl-menu__item active"></li>
            {% for i in "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" %}
<li class="mdl-menu__item active">{{ forloop.counter0|add:"1"}}</li>
{% endfor %}
</ul>
</div>


<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label  getmdl-select">
    <input name="projectEndDate_year" class="mdl-textfield__input" value="{{ form.projectBeginDate.value|date:"Y"|default_if_none:"2017 " }}" type="text" id="EndYear" readonly tabIndex="-1" />
    <label class="mdl-textfield__label" for="EndYear">Year</label>
    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="EndYear" style="overflow-y:scroll; height:200px;">
        <li class="mdl-menu__item active"></li> 
        {% for i in "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" %}
<li class="mdl-menu__item active">{{ forloop.counter0|add:"2017"}}</li>
{% endfor %}
</ul>
</div>



</div>

</div>



<div class="mdl-grid mdl-shadow--4dp form-item" {% if form.projectDuration.errors %} style="height:100px;" {% endif %}>

    <div class="mdl-cell--1-col form-icon"> <i class="material-icons">access_time</i></div>
    <div class="mdl-cell--11-col">
        
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label {% if form.projectDuration.errors %} is-invalid {% endif %}">
            
            {{form.projectDuration}}
            
            <label class="mdl-textfield__label" for="projectDuration">Estimated Hours Per Week</label>
            <span class="mdl-textfield__error force-include"> {{form.errors.projectDuration}} </span>
        
        </div>
    </div>
</div>

