
/* HOME SECTION */

/* help from https://codepen.io/SitePoint/pen/oxXdov */

/* IE11 doesn't like min-height */
/*
.hero-section {
  height: 100vh;
  
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(63, 81, 181, 0.6);
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    )
  background-image: linear-gradient(rgba(63, 81, 181, 0.3), rgba(63, 81, 181, 0.3)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/234228/hero-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.kitty-banner__text-button {
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 580px) {
  .banner-text p {
    white-space: pre-line;
  }
}

*/

.banner-section {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url(./img/boston.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.banner-text {
  color: white;
  margin: auto;
}


/* END banner section */


.authForm .mdl-form {
        padding: 24px;
        
}

.getmdl-select
{
    width:80% !important;
}
.center
{
    margin-left: 35%;
    margin-top:20px;
    margin-bottom:20px;
}


.mdl-card__subtitle-text:before {
  content: '\a';
  white-space: pre;
}


.mdl-card__subtitle-text
{
    padding-left:100px;
    color:white;
}

.mdl-textfield
{
    width:100%;
}

.row
{
    margin-bottom: 20px;
}

.mdl-menu--bottom-left.mdl-js-menu
{
overflow-y:scroll; 
height:200px;
width: 200px;
}

.form-icon
{
    padding-top: 20px;
}

.form-item
{
    margin-top:20px;
}

.command-buttons{
    padding-top: 10px;
}
.command-buttons button, .command-buttons a{
    margin-right: 30px;
}

.gutter-command-panel
{
    position: fixed;
    margin-top:30px;
    margin-left: 100px ;
}

.gutter-command{
    margin-top: 10px;
}

.bio-card,.mdl-dialog-bg
{
    width:480px;
}
.text-center{
    align-self: center;
    text-align: center;
}

.profile-pic
{
    height: 120px;
    width: 120px;
}

.row-title
{
    padding-top: 10px;
    margin-left: 20px;
}


.mdl-card__footer
{
    padding-bottom: 0px;
    padding-top: 5px;
    padding-right: 15px;
    border-top:1px solid rgba(0,0,0,.1);
}
.mdl-card__footer_text
{
    text-align: right;
    font-size: 0.7em;
    margin-bottom: 0px;
}
.mdl-navigation__link > i
{
    padding-right: 20px;
}