{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

  <title>{% block title %}Project Hub{% endblock %}</title>
   <link rel="stylesheet" href="{% static 'bower_components/material-design-lite/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'bower_components/material-design-lite/material.min.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script> 
    {% block importables%}{% endblock %}
   <!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Project Hub</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
  
      
      <nav class="mdl-navigation">
  
        {% if user.is_authenticated %}  
        {% else %}
        <a class="mdl-navigation__link" href="/login/">Sign In</a>
      
      {% endif %}
  <!-- start search form -->
  <form action="/search/">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
    <label class="mdl-button mdl-js-button mdl-button--icon" for="search-expandable">
      <i class="material-icons">search</i>
    </label>
    <div class="mdl-textfield__expandable-holder">
      <input class="mdl-textfield__input" type="text" id="search-expandable" name="q" />
      <label class="mdl-textfield__label" for="search-expandable">Search text</label>
    </div>
  </div>
  </form>
  <!-- end search form -->

</nav>
      
    </div>
  </header>
  {% if user.is_authenticated %}
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{ user.username }}
      
    </span>
    
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/project/create"><i class="material-icons">note_add</i> Post</a>
      <a class="mdl-navigation__link" href="/discover/"> <i class="material-icons">view_list</i> Discover</a>
      <a class="mdl-navigation__link" href="/manage/"><i class="material-icons">assignment</i> Manage</a>
      <a class="mdl-navigation__link" href="/profile/{{ user.id }}"><i class="material-icons">account_circle</i> Profile</a>
      <a class="mdl-navigation__link" href="/about/"><i class="material-icons">info_outline</i> About</a>
      <a class="mdl-navigation__link logout__link" href="/logout/"><i class="material-icons"><i class="material-icons">open_in_new</i></i> Logout</a>
    </nav>
  </div>
  {% endif %}
  <main class="mdl-layout__content">
    <div class="page-content">

  <div class="mdl-grid">
  <div class="mdl-layout-spacer">{% block left %} {% endblock %} </div>
  <div class="mdl-cell mdl-cell--8-col">
    {% block content %} {% endblock %}
  </div>
  <div class="mdl-layout-spacer"></div>
</div>


      
        </div>
  </main>
</div>


    
</body>

 

</html>