{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
   <link rel="stylesheet" href="{% static 'bower_components/material-design-lite/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'bower_components/material-design-lite/material.min.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script> 
    {% block importables%}{% endblock %}
   <!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Project Hub</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      {% if user.is_authenticated %}
      {% else %}
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/login/">Sign In</a>
      </nav>
      {% endif %}
    </div>
  </header>
  {% if user.is_authenticated %}
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{ user.username }}</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/discover/">Discover</a>
      <a class="mdl-navigation__link" href="/project/create">Post</a>
      <a class="mdl-navigation__link" href="/manage/">Manage</a>
      <a class="mdl-navigation__link" href="/profile/{{ user.id }}">Profile</a>
    </nav>
  </div>
  {% endif %}
  <main class="mdl-layout__content">
    <div class="page-content">

        <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"> {% block left %} {% endblock %} </div>
  <div class="mdl-cell mdl-cell--8-col">
  {% block content %} {% endblock %}
  </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
</div>


      
        </div>
  </main>
</div>


    
</body>

 

</html>