{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        
            <h1>Hello</h1>
            <p>You are on your Dashboard</p>

        
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Description</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Create Project Hub</td>
                        <td>Create Web application to facilitate research projects.</td>
                        <td>Nick Bradford</td>

                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
{% endblock %}