{% extends "layout/base.html" %}
  
  {% block content %}
  <div layout="row" layout-align="center center">

    <span style="width:900px; height:600px; background: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/zakim-bridge-and-td-garden-boston-ma-long-exposure-toby-mcguire.jpg')">
    
    <md-button style="color:white; left:250px; top:400px;" href="/discover/"
               id="button-id"
               class="md-primary"
               md-ripple-size="partial"
               md-no-ink="true"
               aria-label="Discover">Discover</md-button>
    </span>
    </div>
    
  {% endblock %}

