{% extends 'base.html' %} {% block content %}




    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a href="#projects-panel" class="mdl-tabs__tab is-active">Projects</a>
            <a href="#profiles-panel" class="mdl-tabs__tab">Profiles</a>
        </div>

        <div class="mdl-tabs__panel is-active" id="projects-panel">
            {% for project in object_list %} {% include "widgets/cards/card.html" %} {% endfor %}
        </div>

        <div class="mdl-tabs__panel" id="profiles-panel">





        {% for profile in profiles %}
            <div class="mdl-shadow--6dp">
                <div class="mdl-grid">
                  
                
                <div class="mdl-cell mdl-cell--4-col">
                    <img style="padding-left:60px; width:100px;height:100px;" src="https://cdnb.artstation.com/p/assets/images/images/000/612/201/large/deesh-k-jackie-e.jpg?1428527779" class="profile-pic">
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                    <h4>Name:</h4>
                    <h4> <a href="/profile/{{profile.user.id}}">{{ profile.user }}</a></h4>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                    <h4>Bio:</h4>
                    <p>boned</p>
                </div>

            </div>
            </div>
            {% endfor %}
        </div>
        </div>

    {% endblock %}