{% extends 'base.html' %} {% block content %}


<div class="mdl-shadow--4dp">
  <div class="mdl-card__title mdl-color--primary mdl-grid">
     
    <div class="mdl-cell mdl-cell--4-col mdl-cell--5-offset">
        <h3>{{ profile.user }} <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">message</i>
    </button></h3> 
        <img src="https://cdnb.artstation.com/p/assets/images/images/000/612/201/large/deesh-k-jackie-e.jpg?1428527779" class="profile-pic">
    </div>
    
  </div>
  <div class="mdl-card__supporting-text">
    <h3>About Me:</h3>
    <p>{{profile.bio}}</p>
  </div>

</div>


<div class="mdl-shadow--4dp">
    <h5 class="row-title">Skills:</h5>
    {% for skill in profile.skills.all %}
    <p class="row-title">{{skill}}</p>
    {% endfor %}

</div>
<div class="mdl-shadow--4dp">
    <h5 class="row-title">Major:</h5>
    {% for major in profile.majors.all %}
    <p class="row-title">{{ major }}</p>
    {% endfor %}

</div>


{% endblock %}

{% block left %}
 {% if profile.user == user %}
    <div class="gutter-command-panel">
 
<div class="row">
<a href="/profile/{{profile.id}}/edit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored gutter-command">
  <i class="material-icons">edit</i>
</a>
</div>
</div>
{% endif %}
{% endblock %}