{% extends 'base.html' %} {% block content %}


<div class="page-header">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h1>{{ user.get_username }} <small>Your Profile</small></h1>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

        </div>

    </div>

    <div class="row">

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="well">
                
                <form action="{% url 'login' %}" method="POST" role="form">
                
                    
                
                <div class="form-group">
                    
                    <div class="container-fluid form-flat-header">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                               
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            {{ user.first_name }}   {{ user.last_name }} 
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                             
                        </div>
                        
                    </div>
                    <hr>
                    {% csrf_token %}

                    
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        
                    {{ profile_form.major.label }}
                    {{ profile_form.major }}

                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        
                    {{ profile_form.skill.label }}
                    {{ profile_form.skill }}

                    </div>

                    <span class="help-block">Hold the "ctrl" and click to specify multiple majors.</span>
                    
                    <hr>
                    {{ profile_form.bio.label }}
                    {{ profile_form.bio }}
                    
                
                          <hr>
                          <button type="submit" class="btn btn-primary">Submit</button>
                          
                </div>
                                </form>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

        </div>

    </div>

</div>

{% endblock %}