{% extends 'project/project_common.html' %}

{% block title %}Create Project{% endblock %}
{% block form %}
        
                
                <form method="post" class="" action="">
                    <h4>Create Project:</h4>
                    {% include "widgets/forms/projectForm.html" %} 
                {% csrf_token %}
                   


                    <div class="command-buttons">
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit</button>
                            <a type="submit" href="/project/create" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">Cancel</a>
                    </div>
                </form>

{% endblock %}