{% extends 'project/project_common.html' %}

{% block form %}
        
                
                <form method="POST" class="mdl-form" action="{{url}}">
                    <h4>Create Project:</h4>
                    {% include "widgets/forms/projectForm.html" %} 
                {% csrf_token %}
                   

                    <div class="">
                    
                   
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit</button>
                    </div>
                </form>

{% endblock %}