{% extends 'project/project_common.html' %}

{% block title %}Project - {{project.projectName }}{% endblock %}

{% block form %}

<div class="row">
    
    <div class="mdl-grid mdl-shadow--4dp form-item">
        <div class="mdl-cell--1-col form-icon form-icon-readonly"> <i class="material-icons">date_range</i></div>
        <div class="mdl-cell--11-col">
        <h3 class="text-center">
        {% if project.projectBeginDate != None and project.projectEndDate != None %}
        Project Runs from {{ project.projectBeginDate }} to {{ project.projectEndDate }}
        {% else %}
        Project Posted at {{ project.postDate }}
        {% endif %}
        
        </h3>
        </div>
</div>   
   <div class="mdl-grid mdl-shadow--4dp form-item">


    <div class="mdl-cell--1-col form-icon form-icon-readonly"> <i class="material-icons">title</i></div>
    <div class="mdl-cell--11-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <h4>{{ project.projectName }}</h4>
        <label class="mdl-textfield__label" for="projectTagLines">Project Name</label>
        </div>
    </div>

</div>

<div class="mdl-grid mdl-shadow--4dp form-item">

    <div class="mdl-cell--1-col form-icon form-icon-readonly"> <i class="material-icons">label</i></div>
    <div class="mdl-cell--11-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <h4>{{ project.projectTagLine }}</h4>
            <label class="mdl-textfield__label" for="projectTagLines">Project Tag Line</label>
        </div>
    </div>
</div>


<div class="mdl-grid mdl-shadow--4dp form-item">

    <div class="mdl-cell--1-col form-icon form-icon-readonly"> <i class="material-icons">description</i></div>
    <div class="mdl-cell--11-col">
        <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label">
            <h4>{{ project.projectDescription }}</h4>
            <label class="mdl-textfield__label" for="projectDescription">Project Description</label>
        </div>
    </div>
</div>


<div class="mdl-grid mdl-shadow--4dp form-item">
<div class="mdl-cell--1-col form-icon form-icon-readonly"> <i class="material-icons">stars</i></div>
    <div class="mdl-cell mdl-cell--5-col">
        
        <h4>Majors Required:</h4>


        {% for major in project.projectMajor.all %}
        <div class="">

        <span class="mdl-chip">
            <span class="mdl-chip__text">{{ major }}</span>
        </span>
        </div>
        {% endfor %}
    </div>

    <div class="mdl-cell mdl-cell--5-col float-right">
        <h4>Skills Required:</h4>

        {% for skill in project.projectSkills.all %}
        <div class="">
        <span class="mdl-chip">
            <span class="mdl-chip__text">{{ skill }}</span>
        </span>
    </div>
        {% endfor %}
    </div>
    
    </div>




<div class="mdl-grid mdl-shadow--4dp form-item">

    <div class="mdl-cell--1-col form-icon form-icon-readonly"> <i class="material-icons">access_time</i></div>
    <div class="mdl-cell--11-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <h4>{{project.projectDuration}}</h4>
            <label class="mdl-textfield__label" for="projectDuration">Estimated Hours Per Week</label>
        </div>
    </div>
</div>






</div>
</div>
<div class="row">
    
    <div class="mdl-grid">
      
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col">
    {% include "widgets/profile_footer.html" %}
</div>
    <div class="mdl-layout-spacer"></div>

</div>


{% endblock %}


{% block left %}
    <!-- Colored FAB button with ripple -->
    <div class="gutter-command-panel">
        <div class="row">
        <a href="/discover/" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored gutter-command">
            <i class="material-icons">arrow_back</i>
        </a>
        </div>
<div class="row">
<a href="/project/{{project.id}}/edit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored gutter-command">
  <i class="material-icons">edit</i>
</a>
</div>
</div>
{% endblock %}