{% extends 'project/project_common.html' %}

{% block form %}
    
   <div class="row">
   <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          
               <h4>Project Name</h4>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          
               <p>{{ project.projectName }}</p>
    </div>
    </div>
    <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          
               <h4>Project Tag Line</h4>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          
               <p>{{ project.projectTagLine }}</p>
    </div>
    </div>
    
    <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          
               <h4>Project Description</h4>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          
               <p>{{ project.projectDescription }}</p>
    </div>
    </div>


    <div class="row">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          
               <h4>Required Skills</h4>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {% for skill in project.projectSkills.all %}
                <p> {{ skill }} </p>
            {% endfor %}
    </div>
    </div>


    <div class="row">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          
               <h4>Required Major</h4>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {% for major in project.projectMajor.all %}
                <p> {{ major }} </p>
            {% endfor %}
    </div>
    </div>

    <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          
               <h4>Project Begin Date</h4>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          
               <p>{{ project.projectBeginDate }}</p>
    </div>
    </div>

<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          
               <h4>Project End Date</h4>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          
               <p>{{ project.projectEndDate }}</p>
    </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          
               <h4>Project Duration</h4>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          
               <p>{{ project.projectDuration }}</p>
    </div>
    </div>
    {% if  project.projectAuthor == request.user %}
        <div class="container">
        <a href="/project/{{project.id}}/edit" type="button" class="btn btn-success">Edit Project</a>
        </div>
    {% endif %}

<hr>
<div class="row">
    
    
    <h1 class="text-center"> <a href="/profile/{{ project.projectAuthor.id}}">{{ project.projectAuthor}}</a>    </h1>
    

</div>
    
    <div class="row">
      <p class="text-center">{{ project.projectAuthor.member.bio }}</p>  
    </div>
    <div class="row container">
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 well">
            <h3>Skills</h3>

            {% for skill in project.projectAuthor.member.skills.all %}
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    {{ skill }}
                </div>
            {% endfor %}
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 well">
            
            <h3>Major(s)</h3>

            {% for major in project.projectAuthor.member.major.all %}
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    {{ major }}
                </div>
            {% endfor %}

        </div>
    </div>
    

{% endblock %}
