{% extends 'project/project_common.html' %} {% block form %}


<form method="POST" action="{{url}}">
    {% include "widgets/forms/projectForm.html" %} {% csrf_token %}
    <hr>

    <div class="row">
        <div class="command-buttons">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">Submit</button>
            
            <!---->
              <button id="show-dialog" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Delete</button>
  <dialog class="mdl-dialog mdl-dialog-bg">
    <h4 class="mdl-dialog__title">Delete Project "{{ project.projectName }}"? </h4>
    <div class="mdl-dialog__content">
      <p>
        This action is irrecoverable. If you delete this project, you cannot get it back. It's gone forever. Like forever...
      </p>
    </div>
    <div class="mdl-dialog__actions">
      <a href="/project/{{project.id}}/delete" type="button" class="mdl-button">Delete</a>
      <button type="button" class="mdl-button close">Cancel</button>
    </div>
  </dialog>
  <script>
    var dialog = document.querySelector('dialog');
    var showDialogButton = document.querySelector('#show-dialog');
    if (! dialog.showModal) {
      dialogPolyfill.registerDialog(dialog);
    }
    showDialogButton.addEventListener('click', function() {
      dialog.showModal();
    });
    dialog.querySelector('.close').addEventListener('click', function() {
      dialog.close();
    });
  </script>

            
        </div>

        

    </div>
</form>



{% endblock %} {% block left %}
<!-- Colored FAB button with ripple -->

<a href="/project/{{ object.id }}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored gutter-command">
    <i class="material-icons">arrow_back</i>
</a>
{% endblock %} {% block importables %} {% load staticfiles %}

<script src="{% static 'bower_components/getmdl-select/getmdl-select.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'bower_components/getmdl-select/getmdl-select.min.css' %}">
{% endblock %}